*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
*.bmp
*.tiff
*.tif
*.webp
*.heif
*.heic
*.bpg
*.avif
*.apng
*.flif
*.xcf
*.psd
*.ai
*.eps
*.pdf
*.wmf
*.emf
*.cdr
*.dxf
*.ico
*.webp
*.avif
*.apng
*.flif
*.xcf
*.psd
image_log/
MIRRORS_OUTPUT_CHECKING_WITHOUT_TEXT/
MIRRORS_OUTPUT_IMAGE_51_EPOCHS/
MIRRORS_OUTPUT_IMAGE_TEXT_COND_TRAINED_TRAINSET_EPOCH8/
checkpoints/
dataset/
lightening_logs/
model-weights/